body {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
    border: 5px dotted black;
    border-top: 5px dotted rgb(0, 0, 0);
    padding: 20px;
    padding-top: 10px;
    background-color: beige;
    color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;

}
    #scottish{
        color: #222155;
        background-color: antiquewhite;
    }
	#savanna{
        color: #aab674;
        background-color: rgb(199, 102, 98);
    }
	#bengali{
        color: #222155;
        background-color: antiquewhite;
    }
    a{
        color: #8b4f66;
        background-color: azure;
        text-decoration: none;
        border: 2px solid darkslategrey;
        padding: 10px;
        border-radius: 10px;
        margin: 114px;
    }
    a:hover {
        color: white;
        background-color: blue;
      }
      img{
        width: 100%;
      }
