body {
    background-color: beige;
    color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;

}
    #scottish{
        color: #222155;
        background-color: antiquewhite;
    }
	#savanna{
        color: #aab674;
        background-color: rgb(199, 102, 98);
    }
	#bengali{
        color: #222155;
        background-color: antiquewhite;
    }
    .custom {
        color: #8b4f66;
        background-color: rgb(97, 80, 57);
    }
